* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-f-all);
}

body {
    background: var(--background-1);
}

header {
    padding: 20px 20px 40px 20px;

    .header-content {
        background: var(--background-2);
        color: var(--color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px 10px 20px;
        border-radius: 10px;

        .logo {

            h1 {
                margin: 0;
                background: var(--background-3);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                text-transform: uppercase;
                font-size: 40px;
            }
        }

        nav {

            ul {
                display: flex;
                align-items: center;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    padding: 10px 15px 10px 15px;
                    font-size: 20px;
                    text-transform: capitalize;
                    font-family: var(--f-f-16);
                    transition: all .2s ease-in-out;
                    
                    &:hover{
                        background-color: var(--background-4);
                        border-radius: 5px;
                    }
                }
            }
        }

        .navigation-btns {
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 25px;

            .theme{
                height: 50px;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;

                img{
                    width: 75%;
                }
            }

            .search-box {
                border: 1px solid white;
                display: flex;
                align-items: center;
                padding: 8px 10px 8px 15px;
                border-radius: 7px;
                column-gap: 10px;

                &:hover{
                    border-color: var(--background-4);
                }

                .input {

                    input {
                        width: 250px;
                        background: transparent;
                        border: none;
                        outline: none;
                        color: var(--color);
                        font-size: 20px;
                    }
                }

                .icon {
                    height: 100%;
                    width: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        font-size: 30px;

                        &:active {
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
}






main {

    padding: 10px 20px 10px 20px;

    .main-content {

        background: var(--background-2);
        color: var(--color);
    }
}